// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Arial;
}

.container {
  width: 600px;
  margin: 20px auto;
}

.question {
  border-left: 8px solid #DDDDDD;
  padding: 20px;
  margin-bottom: 40px;
}

.answer {
  border-left: 8px solid #DDDDDD;
  padding: 20px;
  background-color: #FFFFE1;
  margin-bottom: 40px;
}
